<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458064021210-qt8sn5tv81m7embafkc61qei43gtripp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458064021210-qt8sn5tv81m7embafkc61qei43gtripp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>458064021210-iiavfm7h9jrgtsilspp06d2ks1mn1qrg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDt8YDXSOJOtbzWb3XT97SNksJwvjq1WPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>458064021210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nReachNsbm</string>
	<key>PROJECT_ID</key>
	<string>nreach-b8dee</string>
	<key>STORAGE_BUCKET</key>
	<string>nreach-b8dee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458064021210:ios:0bfd36d6fdc625cdc507e3</string>
</dict>
</plist>